@charset "utf-8";
body{
background-color: black;
	width: 99%
}
p,h1,nav,td,a{
  color: white;
	font-family: 'Roboto Condensed', sans-serif;
	text-align:justify;
}
img#profil{
	position: absolute;
	margin-left: 10px;
}
p#nom{
	font-size: 35px;
	margin-left: 136px;
	margin-top: 20px;
}
img#accueil{
	width: 100%;
	margin-right: 0%;
	
}
.photosdroites{
	float: right;
	margin-right: 10%;
	padding-left : 1%;
}
img#arrow{
	margin-left: 45%;
}
.photosgauches{
	float: left;
	margin-left: 6%;
	padding-right : 1%;
}

p#texteprezgauche{
	font-size: 35px;
	margin-right: 38%;
	margin-left : 2%;
}
h1#titregauche{
	font-size: 50px;
	margin-left: 3%;
}
h1#titredroit{
	font-size: 50px;
	margin-left: 35%;
}
#petitbouton{
	margin-top: 6%;
}
p#texteprezdroit{
	font-size: 35px;
	margin-left: 40%;
}
nav, a{
	color:white;
	font-size:32px;
	text-align: center;
	text-decoration: none;	
}
nav{
    position: absolute;
    margin-top : -7%;
    width: 100%;
    text-align : center;
    height: 103px;
    top: 166px;
	}
.navigation{
	padding-left: 2%;
	padding-right: 2%;
	border-top : -3%;
	border-bottom:3%;
}
.navigation:hover,a#petitbouton:hover, a.texteprezdroit:hover{
	color:black;
	background-color:white;
	transition-duration:  0.5s
}

#top img{
	width : 400px;
	height : 400px;
	display : inline-block;
	margin-left : 3%;
	margin-top : 1%;	
}
#top, #bottom {
	
	height : 33%;
	white-space :normal;
}
td{
	color: white;
	padding-left:3%;
	width: 410px;
	text-align: justify;
}
img.photoslarge{
	width: 100%;
	margin-right: 0%;
}
p#texteprezcentre, #petitboutton {
	font-size: 35px;
	width:80%;
	margin-right:0%;
	margin-left:10%;
}

a#petitbouton{
	margin-left:2%;
}
